.HomeMainWrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HomeSection {
    display: flex;      align-items: center;        justify-content: center;
    flex-direction: column;

    width: 100vw;       height: 100vh;

    font-size: 36px;    font-weight: 700;       font-family: sans-serif;
    padding-top: 60px;    overflow: scroll;
}

.centerHead {
    display: flex;  align-items: center;    justify-content: center;
    flex-direction: row;

    width: auto;    height: auto;   padding: 10px;  gap: 10px;

    font-size: 40px;    font-weight: 700;
}

.logoHead {
    display: flex;  align-items: center;    justify-content: center;

    width: auto;    height: auto;

    color: rgb(var(--base-clr));
}

.centerDesc {
    display: flex;  align-items: center;    justify-content: center;
    flex-direction: row;

    width: auto;    height: auto;   padding: 10px;  gap: 10px;

    font-size: 26px;    font-weight: 500;

}

@media only screen and (max-width: 900px) {
    .centerHead {flex-wrap: wrap;}
}