.HomeMainWrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HomeMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    padding-top: 60px;

    overflow: scroll;
    font-size: 36px;
    font-weight: 700;
    font-family: sans-serif;
    
    color: rgb(var(--bg-clr));
    background-color: rgb(var(--fg-clr));
}